*, *::before, *::after {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    width: 100%;
    background-color: white;
    position: fixed;
}

input[type=color] {
    border-radius: 0;
    border: none;
}

select {
    padding: .5em;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    width: 50%;
}

button {
    padding: .5em;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    cursor: pointer;
}

main {
    display: flex;
}

.color {
    height: 100vh;
    z-index: -99;
    width: 20%;
    cursor: pointer;
    position: relative;
}


.color-hex {
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* 
footer {
    width: 100%;
    display: flex;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
} */
