body {
    font-family: "Inter", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.15);
}

input[type=color] {
    border-radius: 0;
    border: none;
}

select {
    padding: .5em;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    /* min-width: 50%; */
}

button {
    padding: .5em;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    cursor: pointer;
}

main {
    display: flex;
    height: 100vh;
}

.color {
    width: 20%;
    /* z-index: -99; */
    cursor: pointer;
    position: relative;
}


.color-hex {
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}